/*side navbar */

.icon-bar {
    width: 60px;
    background-color: black;
    height: 100vh;
    position: fixed;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: #00E1F8;
    font-size: 24px;
}
.icon-bar a:hover {
    background-color: black;
}
.active {
    background-color: black !important;
}

/*Logo justification*/

img {
  float: left;
}


/* main content */

body {
	transition: background-color 2s cubic-bezier(1, 1, 1, 1);
	transition-delay: 0s;
}

.main {
  margin-left: 60px;
  color: white;
  text-align: left;
  /* background-color: #2D2D2D; */
  height: 100vh;
}
